.box-lg{
    min-height: 500px !important;
}

.message-poste{
    display: inline-block;
    
}

.bloc-user{
    min-height: 250px;
    min-width: 250px;
    max-height: 250px;
    max-width: 250px;
    background-color: red !important;
    display: inline-block;
    margin-left:  0px; 
}